TRIX_BIND_ADDR=0.0.0.0:8080
TRIX_PUBLIC_BASE_URL=http://localhost:8080
TRIX_DATABASE_URL=postgres://trix:trix@localhost:5432/trix
TRIX_BLOB_ROOT=./blobs
TRIX_LOG=info,trix_server=debug
TRIX_JWT_SIGNING_KEY=replace-me

