.DS_Store
/target
.build/
.swiftpm/
/.idea
/.vscode
.env
/.gradle
/apps/android/.gradle
/apps/android/buildSrc/.gradle
/apps/android/local.properties
**/build/
blobs/
postgres-data/
DerivedData/
*.xcuserdata/
*.xccheckout
*.xcscmblueprint
apps/ios/Vendor/
apps/ios/TrixiOS/Bridge/Artifacts/
