{$TRIX_MATRIX_DOMAIN:trix.selfhost.ru} {
	encode zstd gzip

	header /.well-known/matrix/* Content-Type application/json
	header /.well-known/matrix/* Access-Control-Allow-Origin "*"

	respond /.well-known/matrix/client `{"m.homeserver":{"base_url":"https://{$TRIX_MATRIX_DOMAIN:trix.selfhost.ru}"}}` 200

	reverse_proxy /_matrix/* conduit:6167
	reverse_proxy /_conduit/* conduit:6167

	respond 404
}
